In [167]:
import numpy as np
import pandas as pd 
from tqdm import tqdm, tqdm_notebook
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTENC
from imblearn.over_sampling import SMOTE
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pickle
from sklearn.feature_selection import SelectFromModel 
from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2

In [168]:
np.random.seed(1017)
tqdm.pandas()

D:\anaconda\lib\site-packages\tqdm\std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [169]:
user_data = pd.read_csv('训练数据集/训练数据集_tag.csv')
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39923 entries, 0 to 39922
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               39923 non-null  object
 1   flag                             39923 non-null  int64
 2   gdr_cd                           39923 non-null  object
 3   age                              39923 non-null  int64
 4   mrg_situ_cd                      39923 non-null  object
 5   edu_deg_cd                       27487 non-null  object
 6   acdm_deg_cd                      39922 non-null  object
 7   deg_cd                           18960 non-null  object
 8   job_year                         39923 non-null  object
 9   ic_ind                           39923 non-null  object
 10  fr_or_sh_ind                     39923 non-null  object
 11  dnl_mbl_bnk_ind                  39923 non-null  object
 12  dnl_bind_cmb_lif_ind             39923 non-null  object
 13  hav_car_grp_ind                  39923 non-null  object
 14  hav_hou_grp_ind                  39923 non-null  object
 15  l6mon_agn_ind                    39923 non-null  object
 16  frs_agn_dt_cnt                   39923 non-null  object
 17  vld_rsk_ases_ind                 39923 non-null  object
 18  fin_rsk_ases_grd_cd              39923 non-null  object
 19  confirm_rsk_ases_lvl_typ_cd      39923 non-null  object
 20  cust_inv_rsk_endu_lvl_cd         39923 non-null  object
 21  l6mon_daim_aum_cd                39923 non-null  int64
 22  tot_ast_lvl_cd                   39923 non-null  object
 23  pot_ast_lvl_cd                   39923 non-null  object
 24  bk1_cur_year_mon_avg_agn_amt_cd  39923 non-null  int64
 25  l12mon_buy_fin_mng_whl_tms       39923 non-null  object
 26  l12_mon_fnd_buy_whl_tms          39923 non-null  object
 27  l12_mon_insu_buy_whl_tms         39923 non-null  object
 28  l12_mon_gld_buy_whl_tms          39923 non-null  object
 29  loan_act_ind                     39923 non-null  object
 30  pl_crd_lmt_cd                    39923 non-null  int64
 31  ovd_30d_loan_tot_cnt             39923 non-null  object
 32  his_lng_ovd_day                  39923 non-null  object
 33  hld_crd_card_grd_cd              39923 non-null  object
 34  crd_card_act_ind                 39923 non-null  object
 35  l1y_crd_card_csm_amt_dlm_cd      39923 non-null  object
 36  atdd_type                        16266 non-null  object
 37  perm_crd_lmt_cd                  39923 non-null  int64
 38  cur_debit_cnt                    39923 non-null  int64
 39  cur_credit_cnt                   39923 non-null  int64
 40  cur_debit_min_opn_dt_cnt         39923 non-null  int64
 41  cur_credit_min_opn_dt_cnt        39923 non-null  int64
 42  cur_debit_crd_lvl                39923 non-null  int64
dtypes: int64(11), object(32)
memory usage: 13.1+ MB

In [170]:
#feature_tag= pd.read_csv('data/feature_tag.csv')
feature_trd=pd.read_csv('data/feature_trd.csv')
feature_beh=pd.read_csv('data/feature_beh.csv')

In [171]:
#user_data = pd.merge(user_data, feature_tag, how = 'left', on = 'id')
user_data = pd.merge(user_data, feature_trd, how = 'left', on = 'id')
user_data = pd.merge(user_data, feature_beh, how = 'left', on = 'id')

In [172]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39923 entries, 0 to 39922
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               39923 non-null  object
 1   flag                             39923 non-null  int64
 2   gdr_cd                           39923 non-null  object
 3   age                              39923 non-null  int64
 4   mrg_situ_cd                      39923 non-null  object
 5   edu_deg_cd                       27487 non-null  object
 6   acdm_deg_cd                      39922 non-null  object
 7   deg_cd                           18960 non-null  object
 8   job_year                         39923 non-null  object
 9   ic_ind                           39923 non-null  object
 10  fr_or_sh_ind                     39923 non-null  object
 11  dnl_mbl_bnk_ind                  39923 non-null  object
 12  dnl_bind_cmb_lif_ind             39923 non-null  object
 13  hav_car_grp_ind                  39923 non-null  object
 14  hav_hou_grp_ind                  39923 non-null  object
 15  l6mon_agn_ind                    39923 non-null  object
 16  frs_agn_dt_cnt                   39923 non-null  object
 17  vld_rsk_ases_ind                 39923 non-null  object
 18  fin_rsk_ases_grd_cd              39923 non-null  object
 19  confirm_rsk_ases_lvl_typ_cd      39923 non-null  object
 20  cust_inv_rsk_endu_lvl_cd         39923 non-null  object
 21  l6mon_daim_aum_cd                39923 non-null  int64
 22  tot_ast_lvl_cd                   39923 non-null  object
 23  pot_ast_lvl_cd                   39923 non-null  object
 24  bk1_cur_year_mon_avg_agn_amt_cd  39923 non-null  int64
 25  l12mon_buy_fin_mng_whl_tms       39923 non-null  object
 26  l12_mon_fnd_buy_whl_tms          39923 non-null  object
 27  l12_mon_insu_buy_whl_tms         39923 non-null  object
 28  l12_mon_gld_buy_whl_tms          39923 non-null  object
 29  loan_act_ind                     39923 non-null  object
 30  pl_crd_lmt_cd                    39923 non-null  int64
 31  ovd_30d_loan_tot_cnt             39923 non-null  object
 32  his_lng_ovd_day                  39923 non-null  object
 33  hld_crd_card_grd_cd              39923 non-null  object
 34  crd_card_act_ind                 39923 non-null  object
 35  l1y_crd_card_csm_amt_dlm_cd      39923 non-null  object
 36  atdd_type                        16266 non-null  object
 37  perm_crd_lmt_cd                  39923 non-null  int64
 38  cur_debit_cnt                    39923 non-null  int64
 39  cur_credit_cnt                   39923 non-null  int64
 40  cur_debit_min_opn_dt_cnt         39923 non-null  int64
 41  cur_credit_min_opn_dt_cnt        39923 non-null  int64
 42  cur_debit_crd_lvl                39923 non-null  int64
 43  Dat_Flg3_Cd                      31993 non-null  object
 44  Trx_Cod2_Cd                      31993 non-null  float64
 45  trx/Flg1_B                       31993 non-null  float64
 46  trx/Flg1_C                       31993 non-null  float64
 47  Trx_Cod1_Cd                      31993 non-null  float64
 48  cny_trx_amt_thisMonth            31993 non-null  float64
 49  trd_count                        31993 non-null  float64
 50  page_no                          11913 non-null  float64
 51  page_cls                         11913 non-null  object
dtypes: float64(7), int64(11), object(34)
memory usage: 16.1+ MB

In [7]:
#user_data.drop(['cny_trx_amt_B_max', 'cny_trx_amt_C_max'], axis = 1, inplace = True)
#user_data.drop(['cny_trx_amt_B_max', 'cny_trx_amt_C_max', 'Trx_Cod1_Cd'], axis = 1, inplace = True)

In [44]:
for col in user_data:
    print(user_data[col].value_counts())

U252F21    1
UF1FF5B    1
UDF5037    1
U692980    1
U3292CB    1
          ..
U9B5E36    1
UDBBA19    1
U873E3C    1
UCEAE88    1
UA0E81F    1
Name: id, Length: 39923, dtype: int64
0    30970
1     8953
Name: flag, dtype: int64
M     23015
F     16172
\N      736
Name: gdr_cd, dtype: int64
30    2513
31    2462
32    2239
33    2227
29    2117
28    1998
34    1908
27    1862
26    1671
25    1542
35    1530
36    1468
38    1379
37    1323
24    1197
39    1159
41     958
40     932
23     820
42     806
22     678
43     644
44     607
45     557
46     544
47     489
49     479
48     470
50     450
21     441
52     331
51     328
20     233
57     208
53     200
54     192
56     189
55     163
58     138
60      71
59      69
62      52
61      48
63      47
65      30
64      29
66      28
19      18
67      17
69      15
68      14
70      13
71       7
74       5
72       2
73       2
76       1
77       1
84       1
79       1
Name: age, dtype: int64
A     19119
B     18598
O      1035
\N      736
~       248
Z       187
Name: mrg_situ_cd, dtype: int64
F     6917
C     6695
B     6672
K     2312
Z     2097
G      953
A      889
\N     736
~      108
M       54
L       33
D       20
J        1
Name: edu_deg_cd, dtype: int64
G     13267
31    10419
30     8229
Z      4469
F      1635
C      1064
\N      736
D       103
Name: acdm_deg_cd, dtype: int64
~     17050
\N      736
A       543
B       332
Z       171
C       118
D        10
Name: deg_cd, dtype: int64
 0     17235
 1      6270
 2      4128
 3      2789
 5      1565
 4      1495
 6       892
 10      816
 8       649
 7       604
-1       493
 15      335
 9       314
 12      273
 20      261
 14      218
 13      215
 16      203
 11      201
 17      145
 18      115
 30       96
 25       87
 22       58
 19       51
 21       48
 28       47
 24       43
 23       41
 26       40
 27       36
 32       24
 35       23
 29       20
 31       19
 33       17
 37       12
 34       12
 36       10
 38        7
 40        6
 39        4
 41        2
 43        2
 99        1
 42        1
Name: job_year, dtype: int64
0     38614
1       816
\N      493
Name: ic_ind, dtype: int64
0     34251
1      5179
\N      493
Name: fr_or_sh_ind, dtype: int64
1     23499
0     15931
\N      493
Name: dnl_mbl_bnk_ind, dtype: int64
1     32412
0      7018
\N      493
Name: dnl_bind_cmb_lif_ind, dtype: int64
0     23824
1     15599
\N      500
Name: hav_car_grp_ind, dtype: int64
0     38861
1       569
\N      493
Name: hav_hou_grp_ind, dtype: int64
0     34948
1      4475
\N      500
Name: l6mon_agn_ind, dtype: int64
-1       31134
 1172      275
 1278      260
 1218      188
 1179      183
         ...
 27          1
 995         1
 701         1
 967         1
 883         1
Name: frs_agn_dt_cnt, Length: 1011, dtype: int64
0     30863
1      8560
\N      500
Name: vld_rsk_ases_ind, dtype: int64
-1    30870
1      3690
2      2881
3      1378
\N      493
4       479
5        98
7        16
8        10
9         5
6         2
11        1
Name: fin_rsk_ases_grd_cd, dtype: int64
-1    27518
1      4804
2      3679
3      2169
4      1003
\N      493
5       177
6        60
8         6
9         5
13        4
12        2
10        2
11        1
Name: confirm_rsk_ases_lvl_typ_cd, dtype: int64
1     38068
\N      500
6       263
7       255
5       253
2       196
4       165
3       113
8       108
9         2
Name: cust_inv_rsk_endu_lvl_cd, dtype: int64
 0    20636
 1    10896
 2     3841
 3     1789
 5      965
 4      728
-1      500
 6      277
 7      248
 8       25
 9       18
Name: l6mon_daim_aum_cd, dtype: int64
-1    30425
2      3364
3      1940
1      1695
4       655
\N      500
5       424
6       300
7       154
10      148
8       116
11      109
9        89
0         2
12        2
Name: tot_ast_lvl_cd, dtype: int64
-1    16668
5      5898
6      5716
4      3938
3      3809
2      3339
\N      500
1        55
Name: pot_ast_lvl_cd, dtype: int64
 0     34979
 4      1222
 3       910
 5       764
 2       688
-1       500
 6       390
 1       321
 7        91
 8        28
 9        21
 10        9
Name: bk1_cur_year_mon_avg_agn_amt_cd, dtype: int64
 0      38339
-1        500
 1        210
 2        125
 3         94
        ...
 110        1
 46         1
 77         1
 39         1
 63         1
Name: l12mon_buy_fin_mng_whl_tms, Length: 70, dtype: int64
 0      35934
 1       1653
-1        500
 2        374
 3        152
        ...
 114        1
 166        1
 147        1
 69         1
 77         1
Name: l12_mon_fnd_buy_whl_tms, Length: 103, dtype: int64
 0     39350
-1       500
 1        51
 2        13
 3         5
 20        1
 7         1
 5         1
 4         1
Name: l12_mon_insu_buy_whl_tms, dtype: int64
 0      39369
-1        500
 1         32
 7          4
 12         3
 2          3
 29         2
 241        2
 127        1
 20         1
 333        1
 11         1
 10         1
 132        1
 4          1
 3          1
Name: l12_mon_gld_buy_whl_tms, dtype: int64
0     37224
1      2206
\N      493
Name: loan_act_ind, dtype: int64
 0    37562
 5      581
-1      493
 3      414
 4      398
 2      149
 6      141
 7       93
 1       45
 8       41
 9        6
Name: pl_crd_lmt_cd, dtype: int64
 0     39282
-1       493
 1        81
 2        28
 3        15
 4         7
 5         5
 10        4
 7         3
 9         2
 6         2
 28        1
Name: ovd_30d_loan_tot_cnt, dtype: int64
 0       38853
-1         493
 1         151
 2          65
 3          36
         ...
 880         1
 17          1
 113         1
 145         1
 1198        1
Name: his_lng_ovd_day, Length: 131, dtype: int64
20    21604
10    14031
-1     2709
35      570
\N      493
25      135
30      124
40      119
23       74
55       32
50       27
60        4
70        1
Name: hld_crd_card_grd_cd, dtype: int64
1     28594
0     10829
\N      500
Name: crd_card_act_ind, dtype: int64
3     11740
0      8036
5      6540
4      5072
1      4848
2      3187
\N      500
Name: l1y_crd_card_csm_amt_dlm_cd, dtype: int64
0     15162
1      1097
\N        7
Name: atdd_type, dtype: int64
 3    9010
 2    8301
 7    6205
 1    5456
 4    4317
 5    2799
 6    2280
 8    1233
 0     315
-1       7
Name: perm_crd_lmt_cd, dtype: int64
1      18983
0      12761
2       5176
3       1574
4        646
5        321
6        116
7         93
8         46
9         43
10        25
11        20
13        15
12        10
15         9
17         8
14         8
18         7
16         7
22         5
32         4
24         4
19         3
33         3
51         3
40         2
26         2
25         2
41         2
27         2
21         2
20         2
178        1
78         1
177        1
29         1
48         1
156        1
28         1
35         1
99         1
46         1
42         1
45         1
38         1
125        1
39         1
76         1
43         1
138        1
62         1
Name: cur_debit_cnt, dtype: int64
1      22704
2      10646
3       3034
0       2633
4        642
5        173
6         52
7         18
8          6
9          4
12         2
173        2
16         2
17         1
10         1
11         1
15         1
18         1
Name: cur_credit_cnt, dtype: int64
-1       12761
 432        51
 1460       49
 431        47
 438        40
         ...
 7641        1
 6703        1
 4590        1
 4558        1
 2047        1
Name: cur_debit_min_opn_dt_cnt, Length: 5685, dtype: int64
-1       2633
 4595     137
 4260     114
 3955     111
 4199     106
         ...
 1464       1
 2552       1
 36         1
 729        1
 1941       1
Name: cur_credit_min_opn_dt_cnt, Length: 2587, dtype: int64
10    21159
0     12761
20     5264
40      708
80       16
60       15
Name: cur_debit_crd_lvl, dtype: int64
B    21539
A    10145
C      309
Name: Dat_Flg3_Cd_x, dtype: int64
3.0     3541
1.0     3408
2.0     3307
4.0     2821
5.0     2281
6.0     1898
7.0     1634
8.0     1513
9.0     1262
10.0    1189
11.0    1072
12.0    1032
13.0     925
14.0     844
15.0     761
16.0     656
18.0     560
17.0     556
19.0     515
20.0     415
21.0     366
22.0     341
23.0     275
24.0     204
25.0     190
26.0     133
27.0     111
28.0      72
29.0      51
30.0      33
31.0      16
33.0       6
32.0       4
34.0       1

Name: Trx_Cod2_Cd_x, dtype: int64
0.000000       2800
5.000000        453
100.000000      104
3.000000         99
1.000000         77
               ...
195.966667        1
422.933333        1
97.266667         1
211.753000        1
1626.285714       1
Name: trx/Flg1_B_x, Length: 26395, dtype: int64
0.000000       1891
0.010000        394
0.020000        179
100.000000      169
0.030000        126
               ...
4288.101667       1
446.483333        1
2424.767333       1
1816.959286       1
2648.358000       1
Name: trx/Flg1_C_x, Length: 25123, dtype: int64
1.0    12118
3.0    12033
2.0     7842
Name: Trx_Cod1_Cd_x, dtype: int64
 0.00        2731
-5.00         414
 0.01         377
 0.02         182
 0.03         111
             ...
 35318.64       1
-1387.20        1
 18508.47       1
 569.57         1
-4673.16        1
Name: cny_trx_amt_thisMonth_x, Length: 24861, dtype: int64
1.0      3839
2.0      2990
3.0      2352
4.0      1899
0.0      1889
         ...
284.0       1
195.0       1
263.0       1
206.0       1
332.0       1
Name: trd_count_x, Length: 327, dtype: int64
1.0      280
2.0      275
10.0     229
9.0      214
6.0      213
        ...
208.0      1
464.0      1
431.0      1
710.0      1
533.0      1
Name: page_no_x, Length: 591, dtype: int64
CQA    7535
CQE    2111
XAI    1093
AAO     829
TRN     176
EGA      30
CQD      25
BWA      20
SZD      17
CQC      17
CTR      13
FTR      11
XAG       8
MSG       7
MTA       4
JF2       4
CQB       3
GBA       3
FDA       2
FLS       2
LC0       1
BWE       1
JJK       1
Name: page_cls_x, dtype: int64
B    21539
A    10145
C      309
Name: Dat_Flg3_Cd_y, dtype: int64
3.0     3541
1.0     3408
2.0     3307
4.0     2821
5.0     2281
6.0     1898
7.0     1634
8.0     1513
9.0     1262
10.0    1189
11.0    1072
12.0    1032
13.0     925
14.0     844
15.0     761
16.0     656
18.0     560
17.0     556
19.0     515
20.0     415
21.0     366
22.0     341
23.0     275
24.0     204
25.0     190
26.0     133
27.0     111
28.0      72
29.0      51
30.0      33
31.0      16
33.0       6
32.0       4
34.0       1
Name: Trx_Cod2_Cd_y, dtype: int64
0.000000       2800
5.000000        453
100.000000      104
3.000000         99
1.000000         77
               ...
195.966667        1
422.933333        1
97.266667         1
211.753000        1
1626.285714       1
Name: trx/Flg1_B_y, Length: 26395, dtype: int64
0.000000       1891
0.010000        394
0.020000        179
100.000000      169
0.030000        126
               ...
4288.101667       1
446.483333        1
2424.767333       1
1816.959286       1
2648.358000       1
Name: trx/Flg1_C_y, Length: 25123, dtype: int64
1.0    12118
3.0    12033
2.0     7842
Name: Trx_Cod1_Cd_y, dtype: int64
 0.00        2731
-5.00         414
 0.01         377
 0.02         182
 0.03         111
             ...
 35318.64       1
-1387.20        1
 18508.47       1
 569.57         1
-4673.16        1
Name: cny_trx_amt_thisMonth_y, Length: 24861, dtype: int64
1.0      3839
2.0      2990
3.0      2352
4.0      1899
0.0      1889
         ...
284.0       1
195.0       1
263.0       1
206.0       1
332.0       1
Name: trd_count_y, Length: 327, dtype: int64
1.0      280
2.0      275
10.0     229
9.0      214
6.0      213
        ...
208.0      1
464.0      1
431.0      1
710.0      1
533.0      1
Name: page_no_y, Length: 591, dtype: int64
CQA    7535
CQE    2111
XAI    1093
AAO     829
TRN     176
EGA      30
CQD      25
BWA      20
SZD      17
CQC      17
CTR      13
FTR      11
XAG       8
MSG       7
MTA       4
JF2       4
CQB       3
GBA       3
FDA       2
FLS       2
LC0       1
BWE       1
JJK       1
Name: page_cls_y, dtype: int64

In [94]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39923 entries, 0 to 39922
Data columns (total 52 columns):
id                                 39923 non-null object
flag                               39923 non-null int64
gdr_cd                             39923 non-null object
age                                39923 non-null int64
mrg_situ_cd                        39923 non-null object
edu_deg_cd                         27487 non-null object
acdm_deg_cd                        39922 non-null object
deg_cd                             18960 non-null object
job_year                           39923 non-null object
ic_ind                             39923 non-null object
fr_or_sh_ind                       39923 non-null object
dnl_mbl_bnk_ind                    39923 non-null object
dnl_bind_cmb_lif_ind               39923 non-null object
hav_car_grp_ind                    39923 non-null object
hav_hou_grp_ind                    39923 non-null object
l6mon_agn_ind                      39923 non-null object
frs_agn_dt_cnt                     39923 non-null object
vld_rsk_ases_ind                   39923 non-null object
fin_rsk_ases_grd_cd                39923 non-null object
confirm_rsk_ases_lvl_typ_cd        39923 non-null object
cust_inv_rsk_endu_lvl_cd           39923 non-null object
l6mon_daim_aum_cd                  39923 non-null int64
tot_ast_lvl_cd                     39923 non-null object
pot_ast_lvl_cd                     39923 non-null object
bk1_cur_year_mon_avg_agn_amt_cd    39923 non-null int64
l12mon_buy_fin_mng_whl_tms         39923 non-null object
l12_mon_fnd_buy_whl_tms            39923 non-null object
l12_mon_insu_buy_whl_tms           39923 non-null object
l12_mon_gld_buy_whl_tms            39923 non-null object
loan_act_ind                       39923 non-null object
pl_crd_lmt_cd                      39923 non-null int64
ovd_30d_loan_tot_cnt               39923 non-null object
his_lng_ovd_day                    39923 non-null object
hld_crd_card_grd_cd                39923 non-null object
crd_card_act_ind                   39923 non-null object
l1y_crd_card_csm_amt_dlm_cd        39923 non-null object
atdd_type                          16266 non-null object
perm_crd_lmt_cd                    39923 non-null int64
cur_debit_cnt                      39923 non-null int64
cur_credit_cnt                     39923 non-null int64
cur_debit_min_opn_dt_cnt           39923 non-null int64
cur_credit_min_opn_dt_cnt          39923 non-null int64
cur_debit_crd_lvl                  39923 non-null int64
Dat_Flg3_Cd                        31993 non-null object
Trx_Cod2_Cd                        31993 non-null float64
trx/Flg1_B                         31993 non-null float64
trx/Flg1_C                         31993 non-null float64
Trx_Cod1_Cd                        31993 non-null float64
cny_trx_amt_thisMonth              31993 non-null float64
trd_count                          31993 non-null float64
page_no                            11913 non-null float64
page_cls                           11913 non-null object
dtypes: float64(7), int64(11), object(34)
memory usage: 16.1+ MB

# 数据预处理

## 对数值变量进行处理

In [178]:
user_data['cur_debit_crd_lvl'] = user_data['cur_debit_crd_lvl'].astype(object)
user_data['bk1_cur_year_mon_avg_agn_amt_cd'] = user_data['bk1_cur_year_mon_avg_agn_amt_cd'].astype(object)
user_data['l6mon_daim_aum_cd'] = user_data['l6mon_daim_aum_cd'].astype(object)
user_data['perm_crd_lmt_cd'] = user_data['perm_crd_lmt_cd'].astype(object)
user_data['pl_crd_lmt_cd'] = user_data['pl_crd_lmt_cd'].astype(object)
fix_cols = ['l12mon_buy_fin_mng_whl_tms', 'l12mon_buy_fin_mng_whl_tms', 
            'l12_mon_fnd_buy_whl_tms','l12_mon_insu_buy_whl_tms','l12_mon_gld_buy_whl_tms', 
            'ovd_30d_loan_tot_cnt', 'his_lng_ovd_day', 'job_year', 'frs_agn_dt_cnt']

for i in fix_cols:
    user_data[i][user_data[i] == '\\N'] = '-1'
    user_data[i] = user_data[i].astype('int64')

D:\anaconda\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
D:\anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [179]:
#user_data['Trx_Cod1_Cd'] = user_data['Trx_Cod1_Cd'].astype(object)
X = user_data.drop('flag',axis = 1)
X.drop('id',axis = 1 , inplace = True)
target = user_data['flag']

In [180]:
numeric = []
for col in list(X.columns):
    if str(X.loc[:,col].dtype) != 'object':
        numeric.append(col)
print(numeric)

['age', 'job_year', 'frs_agn_dt_cnt', 'l12mon_buy_fin_mng_whl_tms', 'l12_mon_fnd_buy_whl_tms', 'l12_mon_insu_buy_whl_tms', 'l12_mon_gld_buy_whl_tms', 'ovd_30d_loan_tot_cnt', 'his_lng_ovd_day', 'cur_debit_cnt', 'cur_credit_cnt', 'cur_debit_min_opn_dt_cnt', 'cur_credit_min_opn_dt_cnt', 'Trx_Cod2_Cd', 'trx/Flg1_B', 'trx/Flg1_C', 'Trx_Cod1_Cd', 'cny_trx_amt_thisMonth', 'trd_count', 'page_no']

In [181]:
numeric_feature = X[numeric]
numeric_feature.head()

,age,job_year,frs_agn_dt_cnt,l12mon_buy_fin_mng_whl_tms,l12_mon_fnd_buy_whl_tms,l12_mon_insu_buy_whl_tms,l12_mon_gld_buy_whl_tms,ovd_30d_loan_tot_cnt,his_lng_ovd_day,cur_debit_cnt,cur_credit_cnt,cur_debit_min_opn_dt_cnt,cur_credit_min_opn_dt_cnt,Trx_Cod2_Cd,trx/Flg1_B,trx/Flg1_C,Trx_Cod1_Cd,cny_trx_amt_thisMonth,trd_count,page_no
0,41,3,-1,0,0,0,0,0,0,1,0,3492,-1,2.0,15000.000000,8700.000000,3.0,1.64,2.0,NaN
1,35,4,-1,0,0,0,0,0,0,1,0,4575,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,53,9,935,6,0,0,0,0,0,2,0,4894,-1,4.0,21859.666667,9610.730909,3.0,724.73,12.0,35.0
3,41,0,-1,0,0,0,0,0,0,1,0,4938,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42,3,-1,0,0,0,0,0,4,7,0,2378,-1,6.0,14083.208000,6115.811538,1.0,18315.31,8.0,22.0

In [177]:
numeric_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39923 entries, 0 to 39922
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         39923 non-null  int64
 1   job_year                    39923 non-null  int64
 2   frs_agn_dt_cnt              39923 non-null  int64
 3   l12mon_buy_fin_mng_whl_tms  39923 non-null  int64
 4   l12_mon_fnd_buy_whl_tms     39923 non-null  int64
 5   l12_mon_insu_buy_whl_tms    39923 non-null  int64
 6   l12_mon_gld_buy_whl_tms     39923 non-null  int64
 7   ovd_30d_loan_tot_cnt        39923 non-null  int64
 8   his_lng_ovd_day             39923 non-null  int64
 9   cur_debit_cnt               39923 non-null  int64
 10  cur_credit_cnt              39923 non-null  int64
 11  cur_debit_min_opn_dt_cnt    39923 non-null  int64
 12  cur_credit_min_opn_dt_cnt   39923 non-null  int64
 13  Trx_Cod2_Cd                 31993 non-null  float64
 14  trx/Flg1_B                  31993 non-null  float64
 15  trx/Flg1_C                  31993 non-null  float64
 16  Trx_Cod1_Cd                 31993 non-null  float64
 17  cny_trx_amt_thisMonth       31993 non-null  float64
 18  trd_count                   31993 non-null  float64
 19  page_no                     11913 non-null  float64
dtypes: float64(7), int64(13)
memory usage: 6.4 MB

In [182]:
numeric_feature.fillna(-1, inplace = True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [195]:
def select_complete_variable(data, target, n):
    corr = np.abs(data.corrwith(target)).sort_values()                       # 计算相关度，只考虑相关性大小，不考虑正负
    # 判断某个变量是否为完全变量
    for i in list(corr.index):
        if sum(data[i] == -1) != 0 or sum(data[i] == -10000) != 0 or sum(data[i].isnull()) != 0:
            corr.drop(index=i, inplace=True)                                 # 若有空值则不为完全变量
    return list(corr[-n:].index)

complete_variable = select_complete_variable(numeric_feature, target, 3)                # 选择3个聚类的完全变量
_X = numeric_feature[complete_variable]

In [196]:
def K_means(x, n):
    estimator = KMeans(n_clusters=n)
    estimator.fit(x)
    return estimator.labels_
data_labels = K_means(_X, 5)                                                  # 每个样本的类别标签
numeric_feature['label'] = data_labels                                                   # 新增一列为类别标签

c:\users\123\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
numeric_feature.drop(['l12_mon_insu_buy_whl_tms','l12_mon_gld_buy_whl_tms', 'ovd_30d_loan_tot_cnt'], axis = 1, inplace = True)
numeric_feature['cur_debit_cnt'] += 1e-4
numeric_feature['cur_credit_cnt'] += 1e-4
numeric_feature['cur_debit_min_opn_dt_cnt'] = numeric_feature['cur_debit_min_opn_dt_cnt'] / numeric_feature['cur_debit_cnt']
numeric_feature['cur_credit_min_opn_dt_cnt'] = numeric_feature['cur_credit_min_opn_dt_cnt'] / numeric_feature['cur_credit_cnt']
numeric_feature.drop(['cur_debit_cnt', 'cur_credit_cnt'], axis = 1, inplace = True)

c:\users\123\appdata\local\programs\python\python35\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
c:\users\123\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\123\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\123\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\123\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [197]:
numeric_feature['Trx_Cod2_Cd'].fillna(-10000, inplace = True)
numeric_feature['trx/Flg1_B'].fillna(-10000, inplace = True)
numeric_feature['trx/Flg1_C'].fillna(-10000, inplace = True)
numeric_feature['Trx_Cod1_Cd'].fillna(-10000, inplace = True)
numeric_feature['cny_trx_amt_thisMonth'].fillna(-10000, inplace = True)
numeric_feature['trd_count'].fillna(-10000, inplace = True)
numeric_feature['page_no'].fillna(-10000, inplace = True)
# 根据类别标签对特征空值进行填充
for i in range(5):
    for j in list(numeric_feature.columns):
        tmp = numeric_feature.loc[numeric_feature.label == i, j]
        mean = np.mean(tmp.loc[(tmp != -1) & (tmp != -10000)])
        if sum(numeric_feature[j] == -1):
            numeric_feature.loc[(numeric_feature[j] == -1) & (numeric_feature.label == i), j] = mean
        if sum(numeric_feature[j] == -10000):
            numeric_feature.loc[(numeric_feature[j] == -10000) & (numeric_feature.label == i), j] = mean

c:\users\123\appdata\local\programs\python\python35\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
c:\users\123\appdata\local\programs\python\python35\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [16]:
#numeric_feature.drop(['label'], axis = 1, inplace = True)
for col in numeric_feature.columns:
    print(numeric_feature[col].value_counts())

30    2513
31    2462
32    2239
33    2227
29    2117
28    1998
34    1908
27    1862
26    1671
25    1542
35    1530
36    1468
38    1379
37    1323
24    1197
39    1159
41     958
40     932
23     820
42     806
22     678
43     644
44     607
45     557
46     544
47     489
49     479
48     470
50     450
21     441
52     331
51     328
20     233
57     208
53     200
54     192
56     189
55     163
58     138
60      71
59      69
62      52
61      48
63      47
65      30
64      29
66      28
19      18
67      17
69      15
68      14
70      13
71       7
74       5
72       2
73       2
76       1
77       1
84       1
79       1
Name: age, dtype: int64
0.000000     17235
1.000000      6270
2.000000      4128
3.000000      2789
5.000000      1565
4.000000      1495
6.000000       892
10.000000      816
8.000000       649
7.000000       604
15.000000      335
9.000000       314
12.000000      273
20.000000      261
14.000000      218
13.000000      215
16.000000      203
11.000000      201
1.802042       188
17.000000      145
1.126862       138
3.388229       119
18.000000      115
30.000000       96
25.000000       87
22.000000       58
19.000000       51
21.000000       48
7.346251        48
28.000000       47
24.000000       43
23.000000       41
26.000000       40
27.000000       36
32.000000       24
35.000000       23
29.000000       20
31.000000       19
33.000000       17
37.000000       12
34.000000       12
36.000000       10
38.000000        7
40.000000        6
39.000000        4
43.000000        2
41.000000        2
42.000000        1
99.000000        1
Name: job_year, dtype: int64
818.172822     11836
850.781307      8602
640.001964      6425
872.316993      4265
1172.000000      275
               ...
792.000000         1
1065.000000        1
1051.000000        1
295.000000         1
1038.000000        1
Name: frs_agn_dt_cnt, Length: 1015, dtype: int64
0.000000     38339
1.000000       210
0.167562       192
0.077145       140
2.000000       125
             ...
84.000000        1
53.000000        1
33.000000        1
36.000000        1
39.000000        1
Name: l12mon_buy_fin_mng_whl_tms, Length: 73, dtype: int64
0.000000      35934
1.000000       1653
2.000000        374
0.546949        192
3.000000        152
              ...
75.000000         1
109.000000        1
196.000000        1
73.000000         1
77.000000         1
Name: l12_mon_fnd_buy_whl_tms, Length: 106, dtype: int64
0.000000     39350
0.001768       192
0.000360       140
0.001872       120
1.000000        51
0.015190        48
2.000000        13
3.000000         5
7.000000         1
5.000000         1
20.000000        1
4.000000         1
Name: l12_mon_insu_buy_whl_tms, dtype: int64
0.000000      39369
0.037520        192
0.004686        140
0.001872        120
0.126582         48
1.000000         32
7.000000          4
2.000000          3
12.000000         3
241.000000        2
29.000000         2
4.000000          1
127.000000        1
132.000000        1
20.000000         1
11.000000         1
10.000000         1
3.000000          1
333.000000        1
Name: l12_mon_gld_buy_whl_tms, dtype: int64
0.000000     39282
0.010605       188
0.003244       138
0.008889       119
1.000000        81
0.008179        48
2.000000        28
3.000000        15
4.000000         7
5.000000         5
10.000000        4
7.000000         3
6.000000         2
9.000000         2
28.000000        1
Name: ovd_30d_loan_tot_cnt, dtype: int64
0.000000      38853
0.571157        188
1.000000        151
0.095867        138
1.035744        119
              ...
558.000000        1
17.000000         1
141.000000        1
151.000000        1
208.000000        1
Name: his_lng_ovd_day, Length: 134, dtype: int64
1      18983
0      12761
2       5176
3       1574
4        646
5        321
6        116
7         93
8         46
9         43
10        25
11        20
13        15
12        10
15         9
17         8
14         8
18         7
16         7
22         5
32         4
24         4
19         3
33         3
51         3
40         2
26         2
25         2
41         2
27         2
21         2
20         2
178        1
78         1
177        1
29         1
48         1
156        1
28         1
35         1
99         1
46         1
42         1
45         1
38         1
125        1
39         1
76         1
43         1
138        1
62         1
Name: cur_debit_cnt, dtype: int64
1      22704
2      10646
3       3034
0       2633
4        642
5        173
6         52
7         18
8          6
9          4
12         2
173        2
16         2
17         1
10         1
11         1
15         1
18         1
Name: cur_credit_cnt, dtype: int64
1554.838123    4956
2404.641815    3201
760.977144     3168
2694.304777    1436
432.000000       51
               ...
3454.000000       1
2281.000000       1
2341.000000       1
6601.000000       1
3591.000000       1
Name: cur_debit_min_opn_dt_cnt, Length: 5688, dtype: int64
1882.321621    959
1330.425099    858
1826.920796    562
635.194177     253
4595.000000    137
              ...
142.000000       1
785.000000       1
143.000000       1
2643.000000      1
1155.000000      1
Name: cur_credit_min_opn_dt_cnt, Length: 2591, dtype: int64
3.000000     3541
1.000000     3408
2.000000     3307
8.187600     2916
4.000000     2821
5.000000     2281
7.817400     2197
6.000000     1898
7.000000     1634
8.159471     1583
8.000000     1513
9.000000     1262
6.521145     1234
10.000000    1189
11.000000    1072
12.000000    1032
13.000000     925
14.000000     844
15.000000     761
16.000000     656
18.000000     560
17.000000     556
19.000000     515
20.000000     415
21.000000     366
22.000000     341
23.000000     275
24.000000     204
25.000000     190
26.000000     133
27.000000     111
28.000000      72
29.000000      51
30.000000      33
31.000000      16
33.000000       6
32.000000       4
34.000000       1
Name: Trx_Cod2_Cd, dtype: int64
2372.866749    2916
0.000000       2800
2884.001102    2197
1607.063000    1583
8512.200817    1234
               ...
66.404000         1
885.569091        1
732.553333        1
195.966667        1
1626.285714       1
Name: trx/Flg1_B, Length: 26399, dtype: int64
4186.003891     2916
5646.277299     2197
0.000000        1891
2724.369961     1583
10225.406492    1234
                ...
1023.550000        1
15755.833333       1
370.328462         1
21648.236667       1
1605.651667        1
Name: trx/Flg1_C, Length: 25127, dtype: int64
75.595146      10808
85.199095       7491
67.519255       6047
89.473062       3661
1.000000         280
               ...
208.000000         1
464.000000         1
710.000000         1
1455.000000        1
533.000000         1
Name: page_no, Length: 596, dtype: int64
1    15464
2    10806
4     8462
0     5183
3        8
Name: label, dtype: int64

In [56]:
 numeric_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39923 entries, 0 to 39922
Data columns (total 20 columns):
age                           39923 non-null int64
job_year                      39923 non-null int64
frs_agn_dt_cnt                39923 non-null int64
l12mon_buy_fin_mng_whl_tms    39923 non-null int64
l12_mon_fnd_buy_whl_tms       39923 non-null int64
l12_mon_insu_buy_whl_tms      39923 non-null int64
l12_mon_gld_buy_whl_tms       39923 non-null int64
ovd_30d_loan_tot_cnt          39923 non-null int64
his_lng_ovd_day               39923 non-null int64
cur_debit_cnt                 39923 non-null int64
cur_credit_cnt                39923 non-null int64
cur_debit_min_opn_dt_cnt      39923 non-null int64
cur_credit_min_opn_dt_cnt     39923 non-null int64
Trx_Cod2_Cd                   39923 non-null float64
trx/Flg1_B                    39923 non-null float64
trx/Flg1_C                    39923 non-null float64
Trx_Cod1_Cd                   39923 non-null float64
cny_trx_amt_thisMonth         39923 non-null float64
trd_count                     39923 non-null float64
page_no                       39923 non-null float64
dtypes: float64(7), int64(13)
memory usage: 6.4 MB

In [183]:
feature_tag= pd.read_csv('data/feature_tag.csv')
numeric_feature = pd.concat([numeric_feature, feature_tag], axis = 1)
numeric_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39923 entries, 0 to 39922
Data columns (total 59 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   age                                     39923 non-null  int64
 1   job_year                                39923 non-null  int64
 2   frs_agn_dt_cnt                          39923 non-null  int64
 3   l12mon_buy_fin_mng_whl_tms              39923 non-null  int64
 4   l12_mon_fnd_buy_whl_tms                 39923 non-null  int64
 5   l12_mon_insu_buy_whl_tms                39923 non-null  int64
 6   l12_mon_gld_buy_whl_tms                 39923 non-null  int64
 7   ovd_30d_loan_tot_cnt                    39923 non-null  int64
 8   his_lng_ovd_day                         39923 non-null  int64
 9   cur_debit_cnt                           39923 non-null  int64
 10  cur_credit_cnt                          39923 non-null  int64
 11  cur_debit_min_opn_dt_cnt                39923 non-null  int64
 12  cur_credit_min_opn_dt_cnt               39923 non-null  int64
 13  Trx_Cod2_Cd                             39923 non-null  float64
 14  trx/Flg1_B                              39923 non-null  float64
 15  trx/Flg1_C                              39923 non-null  float64
 16  Trx_Cod1_Cd                             39923 non-null  float64
 17  cny_trx_amt_thisMonth                   39923 non-null  float64
 18  trd_count                               39923 non-null  float64
 19  page_no                                 39923 non-null  float64
 20  gdr_cd_flag_0                           39923 non-null  int64
 21  mrg_situ_cd_flag_0                      39923 non-null  int64
 22  edu_deg_cd_flag_0                       39923 non-null  int64
 23  acdm_deg_cd_flag_0                      39923 non-null  int64
 24  deg_cd_flag_0                           39923 non-null  int64
 25  job_year_flag_0                         39923 non-null  int64
 26  ic_ind_flag_0                           39923 non-null  int64
 27  fr_or_sh_ind_flag_0                     39923 non-null  int64
 28  dnl_mbl_bnk_ind_flag_0                  39923 non-null  int64
 29  dnl_bind_cmb_lif_ind_flag_0             39923 non-null  int64
 30  hav_car_grp_ind_flag_0                  39923 non-null  int64
 31  hav_hou_grp_ind_flag_0                  39923 non-null  int64
 32  l6mon_agn_ind_flag_0                    39923 non-null  int64
 33  frs_agn_dt_cnt_flag_0                   39923 non-null  int64
 34  vld_rsk_ases_ind_flag_0                 39923 non-null  int64
 35  fin_rsk_ases_grd_cd_flag_0              39923 non-null  int64
 36  confirm_rsk_ases_lvl_typ_cd_flag_0      39923 non-null  int64
 37  cust_inv_rsk_endu_lvl_cd_flag_0         39923 non-null  int64
 38  l6mon_daim_aum_cd_flag_0                39923 non-null  int64
 39  tot_ast_lvl_cd_flag_0                   39923 non-null  int64
 40  pot_ast_lvl_cd_flag_0                   39923 non-null  int64
 41  bk1_cur_year_mon_avg_agn_amt_cd_flag_0  39923 non-null  int64
 42  l12mon_buy_fin_mng_whl_tms_flag_0       39923 non-null  int64
 43  l12_mon_fnd_buy_whl_tms_flag_0          39923 non-null  int64
 44  l12_mon_insu_buy_whl_tms_flag_0         39923 non-null  int64
 45  l12_mon_gld_buy_whl_tms_flag_0          39923 non-null  int64
 46  loan_act_ind_flag_0                     39923 non-null  int64
 47  pl_crd_lmt_cd_flag_0                    39923 non-null  int64
 48  ovd_30d_loan_tot_cnt_flag_0             39923 non-null  int64
 49  his_lng_ovd_day_flag_0                  39923 non-null  int64
 50  hld_crd_card_grd_cd_flag_0              39923 non-null  int64
 51  crd_card_act_ind_flag_0                 39923 non-null  int64
 52  l1y_crd_card_csm_amt_dlm_cd_flag_0      39923 non-null  int64
 53  atdd_type_flag_0                        39923 non-null  int64
 54  perm_crd_lmt_cd_flag_0                  39923 non-null  int64
 55  cur_debit_min_opn_dt_cnt_flag_0         39923 non-null  int64
 56  cur_credit_min_opn_dt_cnt_flag_0        39923 non-null  int64
 57  is_inTrd                                39923 non-null  int64
 58  is_inBeh                                39923 non-null  int64
dtypes: float64(7), int64(52)
memory usage: 18.3 MB

In [184]:
user_data_test = pd.read_csv('评分数据集b/评分数据集_tag_b.csv')
#user_data_test = pd.read_csv('data/feature_tag_test.csv')
feature_trd_test=pd.read_csv('data/feature_trd_test_b.csv')
feature_beh_test=pd.read_csv('data/feature_beh_test_b.csv')
user_data_test = pd.merge(user_data_test, feature_trd_test, how = 'left', on = 'id')
user_data_test = pd.merge(user_data_test, feature_beh_test, how = 'left', on = 'id')
user_data_test.loc[user_data_test['atdd_type'] == 0, 'atdd_type'] = '0'
user_data_test.loc[user_data_test['atdd_type'] == 1, 'atdd_type'] = '1'
user_data_test.info()
#user_data_test.drop(['cny_trx_amt_B_max', 'cny_trx_amt_C_max','Trx_Cod1_Cd'], axis = 1, inplace = True)


#user_data_test['Trx_Cod1_Cd'] = user_data_test['Trx_Cod1_Cd'].astype(object)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 3999
Data columns (total 51 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               4000 non-null   object
 1   gdr_cd                           4000 non-null   object
 2   age                              4000 non-null   int64
 3   mrg_situ_cd                      4000 non-null   object
 4   edu_deg_cd                       2753 non-null   object
 5   acdm_deg_cd                      4000 non-null   object
 6   deg_cd                           1931 non-null   object
 7   job_year                         4000 non-null   object
 8   ic_ind                           4000 non-null   object
 9   fr_or_sh_ind                     4000 non-null   object
 10  dnl_mbl_bnk_ind                  4000 non-null   object
 11  dnl_bind_cmb_lif_ind             4000 non-null   object
 12  hav_car_grp_ind                  4000 non-null   object
 13  hav_hou_grp_ind                  4000 non-null   object
 14  l6mon_agn_ind                    4000 non-null   object
 15  frs_agn_dt_cnt                   4000 non-null   object
 16  vld_rsk_ases_ind                 4000 non-null   object
 17  fin_rsk_ases_grd_cd              4000 non-null   object
 18  confirm_rsk_ases_lvl_typ_cd      4000 non-null   object
 19  cust_inv_rsk_endu_lvl_cd         4000 non-null   object
 20  l6mon_daim_aum_cd                4000 non-null   int64
 21  tot_ast_lvl_cd                   4000 non-null   object
 22  pot_ast_lvl_cd                   4000 non-null   object
 23  bk1_cur_year_mon_avg_agn_amt_cd  4000 non-null   int64
 24  l12mon_buy_fin_mng_whl_tms       4000 non-null   object
 25  l12_mon_fnd_buy_whl_tms          4000 non-null   object
 26  l12_mon_insu_buy_whl_tms         4000 non-null   object
 27  l12_mon_gld_buy_whl_tms          4000 non-null   object
 28  loan_act_ind                     4000 non-null   object
 29  pl_crd_lmt_cd                    4000 non-null   int64
 30  ovd_30d_loan_tot_cnt             4000 non-null   object
 31  his_lng_ovd_day                  4000 non-null   object
 32  hld_crd_card_grd_cd              4000 non-null   object
 33  crd_card_act_ind                 4000 non-null   object
 34  l1y_crd_card_csm_amt_dlm_cd      4000 non-null   object
 35  atdd_type                        1644 non-null   object
 36  perm_crd_lmt_cd                  4000 non-null   int64
 37  cur_debit_cnt                    4000 non-null   int64
 38  cur_credit_cnt                   4000 non-null   int64
 39  cur_debit_min_opn_dt_cnt         4000 non-null   int64
 40  cur_credit_min_opn_dt_cnt        4000 non-null   int64
 41  cur_debit_crd_lvl                4000 non-null   int64
 42  Dat_Flg3_Cd                      3190 non-null   object
 43  Trx_Cod2_Cd                      3190 non-null   float64
 44  trx/Flg1_B                       3190 non-null   float64
 45  trx/Flg1_C                       3190 non-null   float64
 46  cny_trx_amt_thisMonth            3190 non-null   float64
 47  trd_count                        3190 non-null   float64
 48  Trx_Cod1_Cd                      3190 non-null   float64
 49  page_no                          1232 non-null   float64
 50  page_cls                         1232 non-null   object
dtypes: float64(7), int64(10), object(34)
memory usage: 1.6+ MB

In [185]:
for i in fix_cols:
    user_data_test[i][user_data_test[i] == '\\N'] = '-1'
    user_data_test[i] = user_data_test[i].astype('int64')
numeric_feature_test = user_data_test[numeric]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [186]:
numeric_feature_test.fillna(-1, inplace = True)

In [201]:
test_X = numeric_feature_test[complete_variable] 
data_labels_test = K_means(test_X, 5)                                                  # 每个样本的类别标签
numeric_feature_test['label'] = data_labels_test                                                   # 新增一列为类别标签


#numeric_feature_test.drop(['l12_mon_insu_buy_whl_tms','l12_mon_gld_buy_whl_tms', 'ovd_30d_loan_tot_cnt'], axis = 1, inplace = True)
#numeric_feature_test['cur_debit_cnt'] += 1e-4
#numeric_feature_test['cur_credit_cnt'] += 1e-4
#numeric_feature_test['cur_debit_min_opn_dt_cnt'] = numeric_feature_test['cur_debit_min_opn_dt_cnt'] / numeric_feature_test['cur_debit_cnt']
#numeric_feature_test['cur_credit_min_opn_dt_cnt'] = numeric_feature_test['cur_credit_min_opn_dt_cnt'] / numeric_feature_test['cur_credit_cnt']
#numeric_feature_test.drop(['cur_debit_cnt', 'cur_credit_cnt'], axis = 1, inplace = True)

numeric_feature_test['Trx_Cod2_Cd'].fillna(-10000, inplace = True)
numeric_feature_test['trx/Flg1_B'].fillna(-10000, inplace = True)
numeric_feature_test['trx/Flg1_C'].fillna(-10000, inplace = True)
numeric_feature_test['Trx_Cod1_Cd'].fillna(-10000, inplace = True)
numeric_feature_test['cny_trx_amt_thisMonth'].fillna(-10000, inplace = True)
numeric_feature_test['trd_count'].fillna(-10000, inplace = True)
numeric_feature_test['page_no'].fillna(-10000, inplace = True)
# 根据类别标签对特征空值进行填充
for i in range(5):
    for j in list(numeric_feature_test.columns):
        if sum(numeric_feature_test[j] == -1) or sum(numeric_feature_test[j] == -10000):
            tmp = numeric_feature_test.loc[numeric_feature_test.label == i, j]
            mean = np.mean(tmp.loc[(tmp != -1) & (tmp != -10000)])
            numeric_feature_test.loc[(numeric_feature_test[j] == -1) & (numeric_feature_test.label == i), j] = mean
            numeric_feature_test.loc[(numeric_feature_test[j] == -10000) & (numeric_feature_test.label == i), j] = mean

c:\users\123\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\123\appdata\local\programs\python\python35\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
c:\users\123\appdata\local\programs\python\python35\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [187]:
feature_tag_test= pd.read_csv('data/feature_tag_test_b.csv')
print(len(feature_tag_test.iloc[0,:]))
numeric_feature_test = pd.concat([numeric_feature_test, feature_tag_test], axis = 1)

numeric_feature_test.info()

39
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 3999
Data columns (total 59 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   age                                     4000 non-null   int64
 1   job_year                                4000 non-null   int64
 2   frs_agn_dt_cnt                          4000 non-null   int64
 3   l12mon_buy_fin_mng_whl_tms              4000 non-null   int64
 4   l12_mon_fnd_buy_whl_tms                 4000 non-null   int64
 5   l12_mon_insu_buy_whl_tms                4000 non-null   int64
 6   l12_mon_gld_buy_whl_tms                 4000 non-null   int64
 7   ovd_30d_loan_tot_cnt                    4000 non-null   int64
 8   his_lng_ovd_day                         4000 non-null   int64
 9   cur_debit_cnt                           4000 non-null   int64
 10  cur_credit_cnt                          4000 non-null   int64
 11  cur_debit_min_opn_dt_cnt                4000 non-null   int64
 12  cur_credit_min_opn_dt_cnt               4000 non-null   int64
 13  Trx_Cod2_Cd                             4000 non-null   float64
 14  trx/Flg1_B                              4000 non-null   float64
 15  trx/Flg1_C                              4000 non-null   float64
 16  Trx_Cod1_Cd                             4000 non-null   float64
 17  cny_trx_amt_thisMonth                   4000 non-null   float64
 18  trd_count                               4000 non-null   float64
 19  page_no                                 4000 non-null   float64
 20  gdr_cd_flag_0                           4000 non-null   int64
 21  mrg_situ_cd_flag_0                      4000 non-null   int64
 22  edu_deg_cd_flag_0                       4000 non-null   int64
 23  acdm_deg_cd_flag_0                      4000 non-null   int64
 24  deg_cd_flag_0                           4000 non-null   int64
 25  job_year_flag_0                         4000 non-null   int64
 26  ic_ind_flag_0                           4000 non-null   int64
 27  fr_or_sh_ind_flag_0                     4000 non-null   int64
 28  dnl_mbl_bnk_ind_flag_0                  4000 non-null   int64
 29  dnl_bind_cmb_lif_ind_flag_0             4000 non-null   int64
 30  hav_car_grp_ind_flag_0                  4000 non-null   int64
 31  hav_hou_grp_ind_flag_0                  4000 non-null   int64
 32  l6mon_agn_ind_flag_0                    4000 non-null   int64
 33  frs_agn_dt_cnt_flag_0                   4000 non-null   int64
 34  vld_rsk_ases_ind_flag_0                 4000 non-null   int64
 35  fin_rsk_ases_grd_cd_flag_0              4000 non-null   int64
 36  confirm_rsk_ases_lvl_typ_cd_flag_0      4000 non-null   int64
 37  cust_inv_rsk_endu_lvl_cd_flag_0         4000 non-null   int64
 38  l6mon_daim_aum_cd_flag_0                4000 non-null   int64
 39  tot_ast_lvl_cd_flag_0                   4000 non-null   int64
 40  pot_ast_lvl_cd_flag_0                   4000 non-null   int64
 41  bk1_cur_year_mon_avg_agn_amt_cd_flag_0  4000 non-null   int64
 42  l12mon_buy_fin_mng_whl_tms_flag_0       4000 non-null   int64
 43  l12_mon_fnd_buy_whl_tms_flag_0          4000 non-null   int64
 44  l12_mon_insu_buy_whl_tms_flag_0         4000 non-null   int64
 45  l12_mon_gld_buy_whl_tms_flag_0          4000 non-null   int64
 46  loan_act_ind_flag_0                     4000 non-null   int64
 47  pl_crd_lmt_cd_flag_0                    4000 non-null   int64
 48  ovd_30d_loan_tot_cnt_flag_0             4000 non-null   int64
 49  his_lng_ovd_day_flag_0                  4000 non-null   int64
 50  hld_crd_card_grd_cd_flag_0              4000 non-null   int64
 51  crd_card_act_ind_flag_0                 4000 non-null   int64
 52  l1y_crd_card_csm_amt_dlm_cd_flag_0      4000 non-null   int64
 53  atdd_type_flag_0                        4000 non-null   int64
 54  perm_crd_lmt_cd_flag_0                  4000 non-null   int64
 55  cur_debit_min_opn_dt_cnt_flag_0         4000 non-null   int64
 56  cur_credit_min_opn_dt_cnt_flag_0        4000 non-null   int64
 57  is_inTrd                                4000 non-null   int64
 58  is_inBeh                                4000 non-null   int64
dtypes: float64(7), int64(52)
memory usage: 1.8 MB

## 对类别变量进行处理

In [188]:
category = []
for col in list(X.columns):
    if str(X.loc[:,col].dtype) == 'object':
        category.append(col)
print(category)

category_feature = X.loc[:,category]

['gdr_cd', 'mrg_situ_cd', 'edu_deg_cd', 'acdm_deg_cd', 'deg_cd', 'ic_ind', 'fr_or_sh_ind', 'dnl_mbl_bnk_ind', 'dnl_bind_cmb_lif_ind', 'hav_car_grp_ind', 'hav_hou_grp_ind', 'l6mon_agn_ind', 'vld_rsk_ases_ind', 'fin_rsk_ases_grd_cd', 'confirm_rsk_ases_lvl_typ_cd', 'cust_inv_rsk_endu_lvl_cd', 'l6mon_daim_aum_cd', 'tot_ast_lvl_cd', 'pot_ast_lvl_cd', 'bk1_cur_year_mon_avg_agn_amt_cd', 'loan_act_ind', 'pl_crd_lmt_cd', 'hld_crd_card_grd_cd', 'crd_card_act_ind', 'l1y_crd_card_csm_amt_dlm_cd', 'atdd_type', 'perm_crd_lmt_cd', 'cur_debit_crd_lvl', 'Dat_Flg3_Cd', 'page_cls']

In [189]:
category_feature['Dat_Flg3_Cd'].fillna('\\N', inplace = True)
category_feature['atdd_type'].fillna('\\N', inplace = True)
category_feature['edu_deg_cd'].fillna('\\N', inplace = True)
category_feature['page_cls'].fillna('\\N', inplace = True)
category_feature.loc[(category_feature['mrg_situ_cd'] == '~'), 'mrg_situ_cd'] = '\\N'
category_feature.loc[(category_feature['edu_deg_cd'] == '~'), 'mrg_situ_cd'] = '\\N'

In [138]:
category_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39923 entries, 0 to 39922
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   gdr_cd                           39923 non-null  object
 1   mrg_situ_cd                      39923 non-null  object
 2   edu_deg_cd                       39923 non-null  object
 3   acdm_deg_cd                      39922 non-null  object
 4   deg_cd                           18960 non-null  object
 5   ic_ind                           39923 non-null  object
 6   fr_or_sh_ind                     39923 non-null  object
 7   dnl_mbl_bnk_ind                  39923 non-null  object
 8   dnl_bind_cmb_lif_ind             39923 non-null  object
 9   hav_car_grp_ind                  39923 non-null  object
 10  hav_hou_grp_ind                  39923 non-null  object
 11  l6mon_agn_ind                    39923 non-null  object
 12  vld_rsk_ases_ind                 39923 non-null  object
 13  fin_rsk_ases_grd_cd              39923 non-null  object
 14  confirm_rsk_ases_lvl_typ_cd      39923 non-null  object
 15  cust_inv_rsk_endu_lvl_cd         39923 non-null  object
 16  l6mon_daim_aum_cd                39923 non-null  object
 17  tot_ast_lvl_cd                   39923 non-null  object
 18  pot_ast_lvl_cd                   39923 non-null  object
 19  bk1_cur_year_mon_avg_agn_amt_cd  39923 non-null  object
 20  loan_act_ind                     39923 non-null  object
 21  pl_crd_lmt_cd                    39923 non-null  object
 22  hld_crd_card_grd_cd              39923 non-null  object
 23  crd_card_act_ind                 39923 non-null  object
 24  l1y_crd_card_csm_amt_dlm_cd      39923 non-null  object
 25  atdd_type                        39923 non-null  object
 26  perm_crd_lmt_cd                  39923 non-null  object
 27  cur_debit_crd_lvl                39923 non-null  object
 28  Dat_Flg3_Cd                      39923 non-null  object
 29  page_cls                         39923 non-null  object
dtypes: object(30)
memory usage: 9.4+ MB

In [246]:
category_feature['label'] = data_labels    
for i in range(5):    
    category_feature.loc[(category_feature['atdd_type'].isnull()) & (category_feature.label == i), 'atdd_type'] = category_feature[category_feature['label']== i].atdd_type.mode()[0]
    category_feature.loc[(category_feature['mrg_situ_cd'] == '~') & (category_feature.label == i), 'mrg_situ_cd'] = category_feature[category_feature['label']== i].mrg_situ_cd.mode()[0]
    category_feature.loc[(category_feature['edu_deg_cd'].isna()) & (category_feature.label == i), 'edu_deg_cd'] = category_feature[category_feature['label']== i].edu_deg_cd.mode()[0]
    category_feature.loc[(category_feature['edu_deg_cd'] == '~') & (category_feature.label == i), 'edu_deg_cd'] = category_feature[category_feature['label']== i].edu_deg_cd.mode()[0]
    category_feature.loc[(category_feature['Dat_Flg3_Cd'].isnull()) & (category_feature.label == i), 'Dat_Flg3_Cd'] = category_feature[category_feature['label']== i].Dat_Flg3_Cd.mode()[0]
    #category_feature.loc[(category_feature['Trx_Cod1_Cd'].isnull()) & (category_feature.label == i), 'Trx_Cod1_Cd'] = category_feature[category_feature['label']== i].Trx_Cod1_Cd.mode()[0]
    category_feature.loc[(category_feature['page_cls'].isnull()) & (category_feature.label == i), 'page_cls'] = category_feature[category_feature['label']== i].page_cls.mode()[0]
category_feature['acdm_deg_cd'].fillna('G', inplace = True)

In [190]:
#category_feature.drop('edu_deg_cd', axis = 1, inplace = True)
category_feature.drop('deg_cd', axis = 1, inplace = True)

In [140]:
category_feature.drop(['label'], axis = 1, inplace = True)

KeyError: "['label'] not found in axis"

In [191]:
category_feature_test = user_data_test.loc[:,category]
category_feature_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 3999
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   gdr_cd                           4000 non-null   object
 1   mrg_situ_cd                      4000 non-null   object
 2   edu_deg_cd                       2753 non-null   object
 3   acdm_deg_cd                      4000 non-null   object
 4   deg_cd                           1931 non-null   object
 5   ic_ind                           4000 non-null   object
 6   fr_or_sh_ind                     4000 non-null   object
 7   dnl_mbl_bnk_ind                  4000 non-null   object
 8   dnl_bind_cmb_lif_ind             4000 non-null   object
 9   hav_car_grp_ind                  4000 non-null   object
 10  hav_hou_grp_ind                  4000 non-null   object
 11  l6mon_agn_ind                    4000 non-null   object
 12  vld_rsk_ases_ind                 4000 non-null   object
 13  fin_rsk_ases_grd_cd              4000 non-null   object
 14  confirm_rsk_ases_lvl_typ_cd      4000 non-null   object
 15  cust_inv_rsk_endu_lvl_cd         4000 non-null   object
 16  l6mon_daim_aum_cd                4000 non-null   int64
 17  tot_ast_lvl_cd                   4000 non-null   object
 18  pot_ast_lvl_cd                   4000 non-null   object
 19  bk1_cur_year_mon_avg_agn_amt_cd  4000 non-null   int64
 20  loan_act_ind                     4000 non-null   object
 21  pl_crd_lmt_cd                    4000 non-null   int64
 22  hld_crd_card_grd_cd              4000 non-null   object
 23  crd_card_act_ind                 4000 non-null   object
 24  l1y_crd_card_csm_amt_dlm_cd      4000 non-null   object
 25  atdd_type                        1644 non-null   object
 26  perm_crd_lmt_cd                  4000 non-null   int64
 27  cur_debit_crd_lvl                4000 non-null   int64
 28  Dat_Flg3_Cd                      3190 non-null   object
 29  page_cls                         1232 non-null   object
dtypes: int64(5), object(25)
memory usage: 968.8+ KB

In [192]:
category_feature_test['Dat_Flg3_Cd'].fillna('\\N', inplace = True)
category_feature_test['atdd_type'].fillna('\\N', inplace = True)
category_feature_test['edu_deg_cd'].fillna('\\N', inplace = True)
category_feature_test['page_cls'].fillna('\\N', inplace = True)
category_feature_test.loc[(category_feature_test['mrg_situ_cd'] == '~'), 'mrg_situ_cd'] = '\\N'
category_feature_test.loc[(category_feature_test['edu_deg_cd'] == '~'), 'mrg_situ_cd'] = '\\N'

In [208]:
#category_feature_test.loc[:,'Trx_Cod1_Cd'] = category_feature_test.loc[:,'Trx_Cod1_Cd'].astype(object)
category_feature_test['label'] = data_labels_test    
for i in range(5):    
    category_feature_test.loc[(category_feature_test['atdd_type'].isnull()) & (category_feature_test.label == i), 'atdd_type'] = category_feature_test[category_feature_test['label']== i].atdd_type.mode()[0]
    category_feature_test.loc[(category_feature_test['mrg_situ_cd'] == '~') & (category_feature_test.label == i), 'mrg_situ_cd'] = category_feature_test[category_feature_test['label']== i].mrg_situ_cd.mode()[0]
    category_feature_test.loc[(category_feature_test['edu_deg_cd'] == '~') & (category_feature_test.label == i), 'edu_deg_cd'] = category_feature_test[category_feature_test['label']== i].edu_deg_cd.mode()[0]
    category_feature_test.loc[(category_feature_test['edu_deg_cd'].isnull()) & (category_feature_test.label == i), 'edu_deg_cd'] = category_feature_test[category_feature_test['label']== i].edu_deg_cd.mode()[0]
    category_feature_test.loc[(category_feature_test['Dat_Flg3_Cd'].isna()) & (category_feature_test.label == i), 'Dat_Flg3_Cd'] = category_feature_test[category_feature_test['label']== i].Dat_Flg3_Cd.mode()[0]
    #category_feature_test.loc[(category_feature_test['Trx_Cod1_Cd'].isna()) & (category_feature_test.label == i), 'Trx_Cod1_Cd'] = category_feature_test[category_feature_test['label']== i].Trx_Cod1_Cd.mode()[0]
    category_feature_test.loc[(category_feature_test['page_cls'].isna()) & (category_feature_test.label == i), 'page_cls'] = category_feature_test[category_feature_test['label']== i].page_cls.mode()[0]

In [193]:
category_feature_test.drop('deg_cd', axis = 1, inplace = True)
#category_feature_test.drop('label', axis = 1, inplace = True)
category_feature_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 3999
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   gdr_cd                           4000 non-null   object
 1   mrg_situ_cd                      4000 non-null   object
 2   edu_deg_cd                       4000 non-null   object
 3   acdm_deg_cd                      4000 non-null   object
 4   ic_ind                           4000 non-null   object
 5   fr_or_sh_ind                     4000 non-null   object
 6   dnl_mbl_bnk_ind                  4000 non-null   object
 7   dnl_bind_cmb_lif_ind             4000 non-null   object
 8   hav_car_grp_ind                  4000 non-null   object
 9   hav_hou_grp_ind                  4000 non-null   object
 10  l6mon_agn_ind                    4000 non-null   object
 11  vld_rsk_ases_ind                 4000 non-null   object
 12  fin_rsk_ases_grd_cd              4000 non-null   object
 13  confirm_rsk_ases_lvl_typ_cd      4000 non-null   object
 14  cust_inv_rsk_endu_lvl_cd         4000 non-null   object
 15  l6mon_daim_aum_cd                4000 non-null   int64
 16  tot_ast_lvl_cd                   4000 non-null   object
 17  pot_ast_lvl_cd                   4000 non-null   object
 18  bk1_cur_year_mon_avg_agn_amt_cd  4000 non-null   int64
 19  loan_act_ind                     4000 non-null   object
 20  pl_crd_lmt_cd                    4000 non-null   int64
 21  hld_crd_card_grd_cd              4000 non-null   object
 22  crd_card_act_ind                 4000 non-null   object
 23  l1y_crd_card_csm_amt_dlm_cd      4000 non-null   object
 24  atdd_type                        4000 non-null   object
 25  perm_crd_lmt_cd                  4000 non-null   int64
 26  cur_debit_crd_lvl                4000 non-null   int64
 27  Dat_Flg3_Cd                      4000 non-null   object
 28  page_cls                         4000 non-null   object
dtypes: int64(5), object(24)
memory usage: 937.5+ KB

In [194]:
category_big = pd.concat([category_feature, category_feature_test], axis = 0)

In [195]:
category_big.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43923 entries, 0 to 3999
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   gdr_cd                           43923 non-null  object
 1   mrg_situ_cd                      43923 non-null  object
 2   edu_deg_cd                       43923 non-null  object
 3   acdm_deg_cd                      43922 non-null  object
 4   ic_ind                           43923 non-null  object
 5   fr_or_sh_ind                     43923 non-null  object
 6   dnl_mbl_bnk_ind                  43923 non-null  object
 7   dnl_bind_cmb_lif_ind             43923 non-null  object
 8   hav_car_grp_ind                  43923 non-null  object
 9   hav_hou_grp_ind                  43923 non-null  object
 10  l6mon_agn_ind                    43923 non-null  object
 11  vld_rsk_ases_ind                 43923 non-null  object
 12  fin_rsk_ases_grd_cd              43923 non-null  object
 13  confirm_rsk_ases_lvl_typ_cd      43923 non-null  object
 14  cust_inv_rsk_endu_lvl_cd         43923 non-null  object
 15  l6mon_daim_aum_cd                43923 non-null  object
 16  tot_ast_lvl_cd                   43923 non-null  object
 17  pot_ast_lvl_cd                   43923 non-null  object
 18  bk1_cur_year_mon_avg_agn_amt_cd  43923 non-null  object
 19  loan_act_ind                     43923 non-null  object
 20  pl_crd_lmt_cd                    43923 non-null  object
 21  hld_crd_card_grd_cd              43923 non-null  object
 22  crd_card_act_ind                 43923 non-null  object
 23  l1y_crd_card_csm_amt_dlm_cd      43923 non-null  object
 24  atdd_type                        43923 non-null  object
 25  perm_crd_lmt_cd                  43923 non-null  object
 26  cur_debit_crd_lvl                43923 non-null  object
 27  Dat_Flg3_Cd                      43923 non-null  object
 28  page_cls                         43923 non-null  object
dtypes: object(29)
memory usage: 10.1+ MB

In [254]:
category_big.drop('label', axis = 1, inplace = True)

KeyError: "['label'] not found in axis"

In [196]:
category_big.fillna('\\N',inplace = True)
for col in category_big.columns:
    le = preprocessing.LabelEncoder()
    le.fit(category_big.loc[:,col].values.tolist())
    tmp = le.transform(category_big.loc[:,col].values)
    category_big.loc[:,col] = tmp
    category_big.loc[:,col] = category_big.loc[:,col].astype(object)

In [27]:
for col in category_big.columns:
    print(category_big[col].value_counts())

1    26435
0    18624
2      864
Name: gdr_cd, dtype: int64
0    21957
1    21318
4     1253
2     1182
3      213
Name: mrg_situ_cd, dtype: int64
11    15152
4      7922
2      7714
1      7699
7      2641
10     2419
5      1099
0      1030
12      129
9        62
8        34
3        21
6         1
Name: edu_deg_cd, dtype: int64
5    15255
1    11931
0     9488
6     5169
4     1878
2     1222
7      865
3      115
Name: acdm_deg_cd, dtype: int64
0    44410
1      940
2      573
Name: ic_ind, dtype: int64
0    39351
1     5999
2      573
Name: fr_or_sh_ind, dtype: int64
1    26997
0    18353
2      573
Name: dnl_mbl_bnk_ind, dtype: int64
1    37247
0     8103
2      573
Name: dnl_bind_cmb_lif_ind, dtype: int64
0    27353
1    17989
2      581
Name: hav_car_grp_ind, dtype: int64
0    44694
1      656
2      573
Name: hav_hou_grp_ind, dtype: int64
0    40202
1     5140
2      581
Name: l6mon_agn_ind, dtype: int64
0    35515
1     9827
2      581
Name: vld_rsk_ases_ind, dtype: int64
0     35523
1      4236
3      3296
4      1594
11      573
5       551
6       115
8        16
9        11
10        5
7         2
2         1
Name: fin_rsk_ases_grd_cd, dtype: int64
0     31674
1      5534
6      4224
7      2490
8      1136
13      573
9       202
10       69
12        6
11        6
5         4
4         2
2         2
3         1
Name: confirm_rsk_ases_lvl_typ_cd, dtype: int64
0    43776
9      581
6      307
5      305
4      285
1      216
3      198
2      128
7      124
8        3
Name: cust_inv_rsk_endu_lvl_cd, dtype: int64
1     23710
2     12537
3      4412
4      2074
6      1118
5       838
0       581
7       312
8       291
9        26
10       24
Name: l6mon_daim_aum_cd, dtype: int64
0     34981
6      3880
7      2238
2      1951
8       744
14      581
9       495
10      353
3       179
11      171
12      130
4       116
13       99
5         3
1         2
Name: tot_ast_lvl_cd, dtype: int64
0    19197
5     6786
6     6546
4     4541
3     4373
2     3840
7      581
1       59
Name: pot_ast_lvl_cd, dtype: int64
1     40239
5      1407
4      1049
6       862
3       792
0       581
7       446
2       375
8       111
9        31
10       21
11        9
Name: bk1_cur_year_mon_avg_agn_amt_cd, dtype: int64
0    42809
1     2541
2      573
Name: loan_act_ind, dtype: int64
1     43197
6       659
0       573
4       483
5       464
3       171
7       163
8       109
9        49
2        49
10        6
Name: pl_crd_lmt_cd, dtype: int64
2     24835
1     16129
0      3117
6       660
12      573
4       155
7       149
5       142
3        84
9        42
8        32
10        4
11        1
Name: hld_crd_card_grd_cd, dtype: int64
1    32918
0    12424
2      581
Name: crd_card_act_ind, dtype: int64
3    13459
0     9245
5     7601
4     5857
1     5537
2     3643
6      581
Name: l1y_crd_card_csm_amt_dlm_cd, dtype: int64
2    27166
0    17494
1     1263
Name: atdd_type, dtype: int64
4    10309
3     9543
8     7155
2     6259
5     4983
6     3228
7     2638
9     1432
1      369
0        7
Name: perm_crd_lmt_cd, dtype: int64
1    24282
0    14683
2     6107
3      814
5       21
4       16
Name: cur_debit_crd_lvl, dtype: int64
1    24716
0    11714
3     9143
2      350
Name: Dat_Flg3_Cd, dtype: int64
23    32166
3      8728
7      2444
22     1239
0       956
20      198
9        33
6        27
1        23
5        21
19       21
8        15
12       12
21        9
17        9
14        5
18        4
13        3
4         3
10        2
11        2
15        1
2         1
16        1
Name: page_cls, dtype: int64

In [139]:
for col in category_feature.columns:
    le = preprocessing.LabelEncoder()
    le.fit(category_feature.loc[:,col].values.tolist())
    tmp = le.transform(category_feature.loc[:,col].values)
    category_feature.loc[:,col] = tmp
    category_feature.loc[:,col] = category_feature.loc[:,col].astype(object)

In [140]:
        
model1 = SelectKBest(chi2, k=4)#选择k个最佳特征
model1.fit_transform(category_feature, target)

new_features = model1.get_support(list(category_feature.columns)).tolist()
new_features += [26]
print(new_features)
print(category_feature.columns[new_features])

[3, 5, 15, 23, 26]
Index(['acdm_deg_cd', 'fr_or_sh_ind', 'l6mon_daim_aum_cd',
       'l1y_crd_card_csm_amt_dlm_cd', 'cur_debit_crd_lvl'],
      dtype='object')

In [141]:
new_category = category_big.iloc[:, new_features]
new_category = pd.get_dummies(new_category)
new_category

,acdm_deg_cd_0,acdm_deg_cd_1,acdm_deg_cd_2,acdm_deg_cd_3,acdm_deg_cd_4,acdm_deg_cd_5,acdm_deg_cd_6,acdm_deg_cd_7,fr_or_sh_ind_0,fr_or_sh_ind_1,...,l1y_crd_card_csm_amt_dlm_cd_3,l1y_crd_card_csm_amt_dlm_cd_4,l1y_crd_card_csm_amt_dlm_cd_5,l1y_crd_card_csm_amt_dlm_cd_6,cur_debit_crd_lvl_0,cur_debit_crd_lvl_1,cur_debit_crd_lvl_2,cur_debit_crd_lvl_3,cur_debit_crd_lvl_4,cur_debit_crd_lvl_5
0,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
5996,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
5997,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0
5998,0,0,0,0,0,0,1,0,1,0,...,1,0,0,0,0,1,0,0,0,0
5999,0,0,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,1,0,0,0

In [197]:
new_category = pd.get_dummies(category_big)

In [198]:
new_category, new_category_test = new_category[0: 39923], new_category[-4000:]

In [29]:
len(numeric_feature.iloc[0,:])

59

In [199]:
X = pd.concat([numeric_feature, new_category],axis = 1)
X.head()

,age,job_year,frs_agn_dt_cnt,l12mon_buy_fin_mng_whl_tms,l12_mon_fnd_buy_whl_tms,l12_mon_insu_buy_whl_tms,l12_mon_gld_buy_whl_tms,ovd_30d_loan_tot_cnt,his_lng_ovd_day,cur_debit_cnt,...,page_cls_16,page_cls_17,page_cls_18,page_cls_19,page_cls_20,page_cls_21,page_cls_22,page_cls_23,page_cls_24,page_cls_25
0,41,3,-1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,35,4,-1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,53,9,935,6,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,41,0,-1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,42,3,-1,0,0,0,0,0,4,7,...,0,0,0,0,0,0,0,0,0,0

In [200]:
X = pd.concat([numeric_feature, new_category],axis = 1)
#X.drop('label', axis = 1, inplace = True)

In [37]:
print(X.columns)
print(X_test.columns)

Index(['age', 'job_year', 'frs_agn_dt_cnt', 'l12mon_buy_fin_mng_whl_tms',
       'l12_mon_fnd_buy_whl_tms', 'l12_mon_insu_buy_whl_tms',
       'l12_mon_gld_buy_whl_tms', 'ovd_30d_loan_tot_cnt', 'his_lng_ovd_day',
       'cur_debit_cnt',
       ...
       'page_cls_14', 'page_cls_15', 'page_cls_16', 'page_cls_17',
       'page_cls_18', 'page_cls_19', 'page_cls_20', 'page_cls_21',
       'page_cls_22', 'page_cls_23'],
      dtype='object', length=278)

NameError: name 'X_test' is not defined

In [261]:
for col in X_test.columns:
    if col not in X.columns:
        print(col)

gdr_cd_flag_0
mrg_situ_cd_flag_0
edu_deg_cd_flag_0
acdm_deg_cd_flag_0
deg_cd_flag_0
job_year_flag_0
ic_ind_flag_0
fr_or_sh_ind_flag_0
dnl_mbl_bnk_ind_flag_0
dnl_bind_cmb_lif_ind_flag_0
hav_car_grp_ind_flag_0
hav_hou_grp_ind_flag_0
l6mon_agn_ind_flag_0
frs_agn_dt_cnt_flag_0
vld_rsk_ases_ind_flag_0
fin_rsk_ases_grd_cd_flag_0
confirm_rsk_ases_lvl_typ_cd_flag_0
cust_inv_rsk_endu_lvl_cd_flag_0
l6mon_daim_aum_cd_flag_0
tot_ast_lvl_cd_flag_0
pot_ast_lvl_cd_flag_0
bk1_cur_year_mon_avg_agn_amt_cd_flag_0
l12mon_buy_fin_mng_whl_tms_flag_0
l12_mon_fnd_buy_whl_tms_flag_0
l12_mon_insu_buy_whl_tms_flag_0
l12_mon_gld_buy_whl_tms_flag_0
loan_act_ind_flag_0
pl_crd_lmt_cd_flag_0
ovd_30d_loan_tot_cnt_flag_0
his_lng_ovd_day_flag_0
hld_crd_card_grd_cd_flag_0
crd_card_act_ind_flag_0
l1y_crd_card_csm_amt_dlm_cd_flag_0
atdd_type_flag_0
perm_crd_lmt_cd_flag_0
cur_debit_min_opn_dt_cnt_flag_0
cur_credit_min_opn_dt_cnt_flag_0
is_inTrd
is_inBeh
id

In [201]:

##处理类别不平衡
smo = SMOTE(random_state=42)
X_smo, y_smo = smo.fit_sample(X, target)


columns = X.columns
X = pd.DataFrame(X_smo,columns = columns)

In [202]:
X_test = pd.concat([numeric_feature_test, new_category_test],axis = 1)
X_test.head()

,age,job_year,frs_agn_dt_cnt,l12mon_buy_fin_mng_whl_tms,l12_mon_fnd_buy_whl_tms,l12_mon_insu_buy_whl_tms,l12_mon_gld_buy_whl_tms,ovd_30d_loan_tot_cnt,his_lng_ovd_day,cur_debit_cnt,...,page_cls_16,page_cls_17,page_cls_18,page_cls_19,page_cls_20,page_cls_21,page_cls_22,page_cls_23,page_cls_24,page_cls_25
0,40,1,-1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,46,3,-1,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,1
2,42,3,-1,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
3,35,5,1180,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
4,34,9,1203,0,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,0,0

In [203]:
X_test = pd.concat([numeric_feature_test, new_category_test],axis = 1)
X_test['id'] = user_data_test['id']
#X_test.drop('label', axis = 1, inplace = True)

In [162]:
numeric_feature_test.head()

,age,job_year,frs_agn_dt_cnt,l12mon_buy_fin_mng_whl_tms,l12_mon_fnd_buy_whl_tms,l12_mon_insu_buy_whl_tms,l12_mon_gld_buy_whl_tms,ovd_30d_loan_tot_cnt,his_lng_ovd_day,cur_debit_cnt,...,his_lng_ovd_day_flag_0,hld_crd_card_grd_cd_flag_0,crd_card_act_ind_flag_0,l1y_crd_card_csm_amt_dlm_cd_flag_0,atdd_type_flag_0,perm_crd_lmt_cd_flag_0,cur_debit_min_opn_dt_cnt_flag_0,cur_credit_min_opn_dt_cnt_flag_0,is_inTrd,is_inBeh
0,40,1,-1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,46,3,-1,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
2,42,3,-1,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,1,1
3,35,5,1180,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,1,1
4,34,9,1203,0,0,0,0,0,0,6,...,0,0,0,0,0,0,0,0,1,1

In [45]:
X['cny_trx_amt_thisMonth'] = np.log(X['cny_trx_amt_thisMonth'])
X_test['cny_trx_amt_thisMonth'] = np.log(X_test['cny_trx_amt_thisMonth'])

D:\anaconda\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
D:\anaconda\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [205]:
X.drop(['cny_trx_amt_thisMonth', 'trd_count', 'is_inTrd', 'is_inBeh'], axis = 1, inplace = True)
X_test.drop(['cny_trx_amt_thisMonth','trd_count', 'is_inTrd', 'is_inBeh'], axis = 1, inplace = True)

In [206]:
X.info()
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61940 entries, 0 to 61939
Columns: 277 entries, age to page_cls_25
dtypes: float64(5), int64(50), uint8(222)
memory usage: 39.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 3999
Columns: 278 entries, age to id
dtypes: float64(5), int64(50), object(1), uint8(222)
memory usage: 2.6+ MB

In [207]:
X['flag'] = y_smo
#X_test['atdd_type_2'] = np.zeros([6000,1])
X.to_csv("data/train1.csv",index=False)
X_test.to_csv("data/test1.csv",index=False)